.app {
  #header {
    position:fixed;
    width:100%;
    height:150px;
    background:#ddd;
  }
  #inside-header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 150px;
  }
  #info{
    position:absolute;
    width:100%;
    bottom:30px;
    top:150px;
  }
  #left{
    position:absolute;
    background: #3BB3C3;
    height:100%;
    width:300px;
    overflow:auto; /* make scrollable if content overflows */
  }
  #details{
    position:absolute;
    right:0;
    left:300px; /* compensate #left width */
    height:100%;
    background:#EE9B69;
    overflow:auto; /* make scrollable if content overflows */
    padding: 5px;
  }
  #footer{
    background:#B8DC7C;
    position:fixed;
    width:100%;
    bottom:0;
    height:30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p.long{
    height:1500px;
    border-left:5px dotted #000;
  }

}

