.product-list-item {
  width: 290px;
  padding: 5px;
  border-bottom: 1px solid grey;

  &__button {
    cursor: pointer;

    &-selected {
      background-color: navajowhite;
    }
  }
}
