.product-card {
  &__title {
    font-weight: bold;
  }
  &__indented-item {
    margin-left: 15px;
  }
  &__review-text {
    margin-left: 75px;
  }
  &__delete-button {
    width: 100%;
    text-align: right;
  }
}
