
.input-box {
  //flex: 1 0 0;
  width: 250px;
}

.input-box textarea {
  width: 100%;
  background-color: lavender;
  color: #777;
  opacity: 0.7;
  font-size: 1.25em;
  padding-top:15px;
  padding-left: 15px;
}
